awscli==1.18.190
blinker==1.4
botocore==1.19.30
colorama==0.4.3
docutils==0.15.2
feedgenerator==1.9.1
Jinja2==2.11.2
jmespath==0.10.0
Markdown==3.3.3
MarkupSafe==1.1.1
pelican==4.5.3
pyasn1==0.4.8
Pygments==2.6.1
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
rsa==4.5
s3transfer==0.3.3
six==1.15.0
Unidecode==1.1.1
urllib3==1.26.2
